<h1>Covid-19 cases list in INDIA</h1>

        <table border="1">
            <tr>
                <th>State</th>
                <th>Cases</th>
                <th>Recovered</th>
                <th>Death</th>
            </tr>
            <% @dataList.each do |data| %>
            <tr>
                <td><%= data["name"] %></td>
                <td><%= data["cases"] %></td>
                <td><%= data["recovered"] %></td>
                <td><%= data["deaths"] %></td>
            </tr>
            <% end %>
        </table>
